<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Maintenance.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		<httpErrors errorMode="Custom" defaultResponseMode="File" >
			<remove statusCode="404" />
			<remove statusCode="403" />
			<error statusCode="404" path="404.php" />
			<error statusCode="403" path="403.php" />
       </httpErrors>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="configuration"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
    </system.webServer>
	
	<location path="uploads">
		<system.webServer>
			<directoryBrowse enabled="false" />
			<staticContent>
				<remove fileExtension=".*" />
				<mimeMap fileExtension=".*" mimeType="application/octet-stream" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
					<remove name="Content-Disposition" />
					<add name="Content-Disposition" value="attachment" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	
	<location path="configuration">
		<system.webServer>
			<directoryBrowse enabled="false" />
		</system.webServer>
	</location>
	
</configuration>
